body {
  background-color: black;
}

input.btn,
input.btn-top,
input.btn-side,
input.btn-0 {
  padding: 0;
  margin: 4px;
  border-radius: 50%;
  border: none;
  width: 80px;
  height: 80px;
  font-size: 30px;
  text-align: center;
}

input.÷ {
  font-size: 40px !important;
}

input.× {
  font-size: 40px !important;
}

input.btn-0 {
  width: 170px !important;
  border-radius: 40px !important;
}

input.btn,
input.btn-0 {
  color: #fff;
  background-color: #333333;
}

input.btn-top {
  color: #000;
  background-color: #a6a6a6;
}
input.btn-side {
  color: #fff;
  background-color: #ff9500;
}

/* ボタンを押した時の変化 */
input.btn:active,
input.btn-0:active {
  color: #fff;
  background-color: #737373;
}
input.btn-top:active {
  color: #000;
  background-color: #D9D9D9;
}
input.focus {
  color: #fff;
  background-color: #FBC88E;
}
#btn_equ:active {
  color: #fff;
  background-color: #FBC88E;
}

#output {
  color: #fff;
  font-family: serif;
  font-weight: 100;
  font-size: 70px;
  text-align: right;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding-right: 30px;
}

#pannel2 {
  color: #fff;
  font-family: serif;
  font-weight: 100;
  font-size: 30px;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
}

.btn-circle-border-simple {
  position: absolute;
top: 50%;
left: 50%;
-webkit-transform : translate(-50%,-50%);
transform : translate(-50%,-50%);
width: 100px;
text-align: center
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 2px #668ad8;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  transition: .4s;
}

.btn-circle-border-simple:hover {
  background: #b3e1ff;
}

div.power {
  position: relative;
  height: 540px;
}
